@using WeddingPlanner.Models;
@model Wedding;

<div class="row justify-content-around">
    <h1 class="col-7">@Model.Wedder1 & @Model.Wedder2's Wedding</h1>
    <a class="col-2" asp-action="Dashboard">Dashboard</a>
    <a class="col-2" asp-action="Logout">Log Out</a>
</div>

<h3>Date: @Model.Date.ToShortDateString()</h3>

<ul>Guests:
    @foreach (Guest g in Model.Attendees)
    {
    <li>@g.Attendee.FirstName @g.Attendee.LastName</li>
    }
</ul>
